<div class="container" id="home-container">
  <div class="jumbotron px-5 py-5 mb-4 text-center">
    <div class="container-fluid py-4">
      <h1 class="display-5 fw-bold">Alpha Blog</h1>
      <p class="fs-4">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>
      <hr class="my-4" />
      <p class="fs-8">It uses utility classes for typography and spacing to space content out within the large container</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
